/* *{
    padding: 0;
    margin: 0;
} */

h1{
    margin-left: 40%;
    margin-top: 6%;
    font-family: "Roboto";
}

.button:hover{
    background-color: silver;
}
.button{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    pointer-events: visible;
}

.textview{
    width:202px;
    margin: 5px;
    padding: 8px;
    font-size: 25px;
}

 
.container{
    /* background-color: rgb(219, 152, 152); */
    margin-left: 40%;
}
